* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0%;
}

nav {
  min-width: max-content;
  background: linear-gradient(to bottom, #00bb66 0%, #009955 100%);

  background-color: rgba(0, 150, 125);
  color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.navText {
  border: 100px solid;
  padding: 20px;
  font-size: 60px;
}

.info {
  font-size: 35px;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.inputs {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  border-radius: 10px;
  margin-right: 20px;
}

.result_text {
  position: absolute;
  margin-left: 150px;
  margin-top: 170px;
  font-size: 60px;
}
result_text_no{
  font-size: 45px;
}

.predict_btn {
  font-size: 60px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border-color: white;
  border-width: 5px;
  background-color: #008855;
  margin-top: 50px;
  margin-left: 200px;
}

.content {
  margin: 20px;
  padding: 60px;
  height: 700px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #009966 0%, #008855 100%);
}
